* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    color: #333;
    padding: 3px;
    max-width: 960px;
    margin: 0 auto;
    background-color: #0268733d;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(255, 255, 255, .13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .19) 50%);
    background-size: 13px, 29px, 37px, 53px;

}

header {
    padding: 1em;
}

h1 {
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 12px;
}

nav ul li {
    border: solid, 1px, black;
    text-align: center;
    padding: 3px;

}

.gallery {
    padding: 1em;   
}


.gallery span {
    text-align: center;
    right: 0px;
    object-fit: none;    
}
/* .image-gallery-description{
    text-align: center;  
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 10%;
    object-fit: none;
} */
 footer{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    text-align: center;
    min-width: 60px;
    margin-top: 1em;
    padding-top: .5em;
 }


.escapadas {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 1em;
}

.escapadas div {
    width: 256px;
}

.escapada img {
    width: 100%;
    background-color: white;
    padding: 2em;
    border: double 6px blueviolet;
    margin: 1em;
    box-shadow: 12px 12px 6px;

}

.escapada {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

#formulario {
    gap: 16px;
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

#formulario div {
    gap: 16px;
    display: flex;
    flex-direction: row;
    min-width: 40%;
}

#formulario div:nth-child(odd) {
    background-color: rgb(213, 213, 213);
}


#formulario label {
    min-width: 12%;

}

#formulario input {
    min-width: 200px;
    min-height: 20px;
}

.mapa {
    height: 250px;
}

.respuesta {
    padding: .5em;
    font-weight: bold;
    background-color: rgb(212, 250, 251);
}

.superior {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.superior li {
    min-width: 100px;
    border: none;
    background-color: #cde;
    padding: .5em;
    border-radius: 12px;
}

.superior a {
    text-decoration: none;
    font-variant: small-caps;
    color: blue;
}